div .rthome-image {
  background-image: url("../data/rhome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 550px;
  width: 100%;
  color: white;
}
.bg-image3{
  /* padding-left: 0; */
  /* padding-right: 0; */
  background-image: url("../data/rhome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  width: 100%;
  color: white;
}
